<?xml version="1.0"?>
<robot name="tegraBot" xmlns:xacro="http://ros.org/wiki/xacro">
       <!--xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">-->
<!--
    - Base      : kobuki
    - Stacks    : hexagons
    - 3d Sensor : astra
-->    
	
	<!--Following lines was copied from kobuki_hexagons_astra.urdf.xacro-->
	<!--<xacro:include filename="$(find tegrabot_description)/urdf/turtlebot_common_library.urdf.xacro" />-->
  <xacro:include filename="$(find tegrabot_description)/urdf/tegraBot_properties.urdf.xacro"/>
  <xacro:include filename="$(find tegrabot_description)/urdf/kobuki.urdf.xacro" />
  <xacro:include filename="$(find tegrabot_description)/urdf/stacks/tegraBot_stack.urdf.xacro"/>
  <xacro:include filename="$(find tegrabot_description)/urdf/computers/m200_jt2.urdf.xacro"/>
  <xacro:include filename="$(find tegrabot_description)/urdf/sensors/intel_d435.urdf.xacro"/>
  <xacro:include filename="$(find tegrabot_description)/urdf/sensors/ydlidar_x4.urdf.xacro"/>
  
  <kobuki/>
  <stack_hexagons parent="base_link"/>
  <!--<sensor_astra parent="base_link"/>-->
  <sensor_d435 parent="sensor_pole_link">
	  <origin xyz="0 0 0.59" rpy="0 -0.14 0"/>
  </sensor_d435>
  <computers parent="plate_middle_link"/>
  <sensor_ydlidar parent="plate_bottom_link"/>
</robot>
